<div class="navtabs-container">
 <nav mat-tab-nav-bar mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
   
  <a mat-tab-link routerLink="/"
    routerLinkActive #home="routerLinkActive"
    [active]="home.isActive">
    Home
  </a>

</nav> 
</div>


<!-- <span class="toolbar-flex"></span>
<mat-tab-group>
  <mat-tab label="Home">
    <app-home></app-home>
  </mat-tab>
  <mat-tab label="Hello 2"></mat-tab>
  <mat-tab label="Hello 3"></mat-tab>
  <mat-tab label="Hello 4"></mat-tab>
  <mat-tab label="Hello 5"></mat-tab>
  <mat-tab label="Hello 6"></mat-tab>
</mat-tab-group>
<span class="toolbar-flex"></span> -->