<div class="hero-container"> 
  <div class="book-now-container">
    <div>
      <div FxFlex fxLayoutAlign="flex-end">
        <button class="book-now-button" mat-stroked-button color="primary">
          Book Now
        </button>
      </div>
    </div>
  </div>
  <div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
    <h2 class="mat-display-1">
      Luxury Beach Front Resort
    </h2>
    <h1 class="mat-display-4">
      Natai Beach <br /> Resort & Spa
    </h1>
  </div>
  <div class="thailand">
      <h3>Thailand</h3>
  </div>
</div>

<section class="home-section">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div>
      <h2 class="mat-subheading-2">Luxury Beach Front Resort</h2>
    </div>
    <div>
      <h3 class="mat-subheading-3">
        Asia's Tropical Paradise
      </h3>
    </div>
    <div>
      <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">
        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>

  <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <mat-card class="rooms-suites" fxFlex="45%" fxFlex.sm="100%">
      <mat-card-header fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <h2>Rooms &amp; Suites</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button color="primary">Explore</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="beach-houses" fxFlex="40" fxFlex.sm="80">
        <mat-card-header fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
          <h2>Beach &amp; Houses</h2>
        </mat-card-header>
        <mat-card-actions fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
          <button mat-raised-button color="primary">Explore</button>
        </mat-card-actions>
      </mat-card>   
  </div>

</section>